/vendor
.env
/public/.htaccess
/storage
/storage/debugbar
/storage/app
/storage/framework
/storage/framework/cache
/storage/logs
storage/framework/views
/node_modules
/public/hot
/public/storage
/public/.htpassword
/public/sitemap.xml
/public/.htaccess
/storage/*.key
/vendor
.env
.exampleenv
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
bootstrap/cache
.cache/
